*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0;

}
header{
    background-color: rgba(72, 170, 177, 0.719);
    height: 100px;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 90%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
    margin-top: 2.5%;
    margin-right: 3%;
}
.menu_item{
    width: 150px;
    text-align: center;
    font-size: 130%;
    text-decoration: none;
    color: rgba(88, 87, 87, 0.945);
}
.menu_item:hover{
    cursor: pointer;
    color: rgb(212, 12, 12);
    font-weight: 600;
    text-decoration: none;
}
.logo{
    margin-top: 15%;
    margin-left: 100%;
    width: 100px;
    height: 70px;
}
.main{
    background-image: url(./img/bcg.jpg);
    padding-top: 1%;
    padding-bottom: 2%;
}




form{
    width: 80%;
    margin: 1.5% 0 0 10%;
    border-radius: 35px;
    background-color: rgba(72, 170, 177, 0.822);
    box-shadow: 0 0 2px 2px rgb(143, 143, 143);
    margin-left: 10%;
    color: rgba(54, 54, 54, 0.993);
    padding: 2%
}
.pay{
    margin: 0.5% 0 2% 1%;
}
.area{
    margin: 7% 0 1% -18%;
}
.send{
    margin: 0 0 2% 82%;
}



.down{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(72, 170, 177, 0.719);
    font-size: 110%;
    color: rgb(59, 59, 59);
    width: 100%;
}


.contacts{
    border-radius: 35px;
    background-color: rgba(72, 170, 177, 0.822);
    box-shadow: 0 0 2px 2px rgb(143, 143, 143);
    width: 80%;
    margin-left: 10%;
    padding-left: 3%;
    display: block;
    font-size: 120%;
    color: rgba(54, 54, 54, 0.993);
    padding-top: 2%;
}
.contacts a{
    color: black;
}
.contacts_title{
    margin-left: 42% ;
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 2%;
}
.contacts_subtitle{
    font-size: large;
    font-weight: 600;
}
.contacts_number li{
    list-style: circle;
    padding: 0.5%;
}
#wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3{
    margin-left: 5%;
    padding-bottom: 2%;
}
.carousel{
    background-color: rgba(156, 156, 156, 0.548);
    width: 80%;
    margin-left: 10%;
    padding: 1%;
}
.d-block{
    height: 500px;
}
.sanatory{
    display: flex;
    padding-bottom: 2%;
}
.info{
    width: 78%;
    margin: 2% 0 0 8%;
    padding: 1%;
    font-size: 110%;
    color: rgb(32, 32, 32);
    font-size: larger;
    border-radius: 15px;
    background-color: rgba(72, 170, 177, 0.801);
    box-shadow: 0 0 2px 2px rgb(128, 128, 128);
}
.info a{
    margin-left: 70%;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.info a:hover{
    cursor: pointer;
    color: rgb(212, 12, 12);
    text-decoration: none;
}
.video{
    margin: 2% 0 2% 3%;
    padding: 1%;
}
h1{
    text-align: center;
    background-color: rgba(63, 63, 63, 0.548);
    border-radius: 65px;
    padding: 1%;
    width: 52%;
    margin-left: 25%;
    margin-top: 0%;
    color: rgb(219, 217, 217);
}
.health_card{
    display: flex;
    width: 80%;
    margin: 1% 0 0 10%;
    padding: 1%;
    color: rgb(32, 32, 32);
    font-size: larger;
    border-radius: 15px;
    background-color: rgba(72, 170, 177, 0.801);
    box-shadow: 0 0 2px 2px rgb(128, 128, 128);
}
.block{
    margin: 1%;
}
.card{
    margin-top: 3%;
    width: 370px;
    font-size: 80%;

}
.text{
    width: 80%;
    margin: 1% 0 0 10%;
    padding: 1% 3% 1% 3%;
    color: rgb(32, 32, 32);
    font-size: larger;
    border-radius: 15px;
    background-color: rgba(72, 170, 177, 0.801);
    box-shadow: 0 0 2px 2px rgb(128, 128, 128);
}
.text_img{
    margin-left: 10%;
}
.text_title{
    text-align: center;
}
.text_subtitle{
    padding: 1%;
    margin-left: 2%;
    font-size: 120%;
    font-weight: 600;
}
.sidebar{
    width: 20%;
    margin-left: 3%;
    margin-top: 3%;
    padding: 1% 3% 1% 3%;
}
.sidebar ul li:hover{
    background-color:  rgba(72, 170, 177, 0.801);
    color: rgb(236, 236, 236);
    cursor: pointer;
}
.sidebar ul li a{
    text-decoration: none;
    color: rgb(53, 52, 52);
}
.about_info{
    width: 70%;
    margin: 1% 0 0 0%;
    padding: 1% 3% 1% 3%;
    color: rgb(32, 32, 32);
    font-size: larger;
    border-radius: 15px;
    background-color: rgba(72, 170, 177, 0.801);
    box-shadow: 0 0 2px 2px rgb(128, 128, 128);
}
.about_info img{
    margin-left: 12%;
    margin-bottom: 2%;
}
.all{
    display: flex;
}
h2{
    text-align: center;
    padding: 0.5%;
}
.eat_table{
    width: 50%;
    text-align: center;
    margin-left: 22%;
}
.sanat li{
    padding-top: 1%;
    list-style: circle;
}
.rule{
    margin-left: 32%;
    padding: 2%;
    color: rgb(224, 221, 221);
    padding: 1%;
}
.sanat p{
    margin: 1%;
    font-size: 110%;
    font-weight: 600;
}